html, body {
    overflow-x: hidden;
}

body {
    font-family: "lato", Helvetica, Arial, san-serif;
    color: #333;
}

h1, h2, h3, h4,h5, h6 {
    font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 100;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #2ecc71;
    box-shadow: #417505 1 4 5px;
    padding: 15px 40px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0px 2px  #417505;
    margin: 5px;
}

ul li {
    list-style: none;
}

.avatar {
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    width: 37px;
    height: 37px;
}

/* Grid */

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px 0;
    position: relative;
}

container:before, container:after {
    content: " ";
    display: table;
}

container:after {
    clear: both;
}

.one-half, .one-third, .one-fourth {
    width: 96%;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0 2% 20px;
}
